include LICENSE
include README.rst

# recursive-include nigerian_only/templates *
recursive-exclude nigerian_only/migrations *
recursive-exclude tests *

# Exclude certain files or directories
exclude tests/*
exclude migrations/*
exclude *.pyc
